footer {
  margin-top: 2rem; }

h1 {
  text-align: center;
  margin-bottom: 2%; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.index-container {
  display: flex; }

.table-container {
  padding-left: 6%;
  display: flex; }

.text {
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 300; }

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2rem; }
  @media (max-width: 768px) {
    .panel-heading {
      flex-direction: column;
      justify-content: center; } }

.panel-body {
  border: 2px solid green; }

.topicname {
  font-family: 'Anton', sans-serif;
  color: green;
  margin-left: 1rem; }

.name {
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300; }

.date {
  color: green;
  font-weight: bold; }

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #a0db8e; }

.table th {
  background-color: #6dc066; }
